{% extends 'app/base.html'  %}
{% load crispy_forms_tags %}

{% block title %}Login in{% endblock %}


{% block content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Please login to access your tickets.</h1>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-12" method="post" action=".">
            <div class="bg-blue-100 border-blue-500 text-blue-700 px-4 py-3 rounded-md" role="alert">
                <p class="text-sm">If you have no account please sign up or open new chat with the manager.</p>
            </div>
            <div>
                {% csrf_token %}

                {{ form|crispy }}
            </div>
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Log In</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}
