{% extends 'app/base.html'  %}

{% block title %}Clients{% endblock %}

{% block content %}

<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <div class="py-6 px-6">
        <h1 class="mb-4 font-semibold text-3xl">Users</h1>

        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="table-auto text-left w-full">
                            <thead class="border-b bg-black font-semibold text-white dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Username</th>
                                    <th scope="col" class="px-6 py-4">Client</th>
                                    <th scope="col" class="px-6 py-4">First name</th>
                                    <th scope="col" class="px-6 py-4">Last name</th>
                                    <th scope="col" class="px-6 py-4">E-mail</th>
                                    <th scope="col" class="px-6 py-4">View</th>
                                    <th scope="col" class="px-6 py-4">Edit</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_profile in user_profiles %}
                                <tr class="border-b dark:border-neutral-500 {% cycle 'bg-white' 'bg-gray-100' %}">
                                    <td class="py-2 px-2">{{ user_profile.user.username }}</td>
                                    <td class="py-2 px-2">{{ user_profile.client }}</td>
                                    <td class="px-2"> {{ user_profile.user.first_name }}</td>
                                    <td class="px-2"> {{ user_profile.user.last_name }}</td>
                                    <td class="px-2"> {{ user_profile.user.email }}</td>
                                    <td class="py-2 px-2"><a href="{% url 'userprofile:detail' user_profile.id %}" class="inline-block text-center py-1 px-6 bg-black rounded-xl font-semibold text-blue-400">View</a></td>
                                    <td class="py-2 px-2"><a href="{% url 'userprofile:edit-profile' user_profile.id %}" class="inline-block text-center py-1 px-6 bg-green-500 rounded-xl font-semibold text-white">Edit</a> </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
