{% extends 'app/base.html'  %}
{% load crispy_forms_tags %}
{% block title %}{{ client.name }}{% endblock %}

{% block content %}
<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <div class="grid md:grid-cols-2 gap-4">
        <div class="p-4 bg-white">
            <h3 class="mb-4 text-2xl"><b>Client: </b>{{ client.name }}</h3>
            <hr class="my-4 h-0.5 bg-black">
            <div class="grid md:grid-cols-[100px_auto] gap-2">
                <p class="font-semibold">Description: </p>{{ client.description }}<br>
                <p class="font-semibold">Phone: </p>{{ client.phone }}<br>
                <p class="font-semibold">E-mail: </p>{{ client.email }}<br>
                <p class="font-semibold">Created by: </p>
                {% if client.created_by.first_name %}
                {% if client.created_by.last_name %}
                {{ client.created_by.first_name }} {{ client.created_by.last_name }}
                {% else %}
                {{ client.created_by }}
                {% endif %}
                {% else %}
                {{ client.created_by }}
                {% endif %}<br>
                <p class="font-semibold">Created at: </p>{{ client.created_at|date:"Y-m-d H:i" }}<br>
                <p class="font-semibold">Modifed at: </p>{{ client.modified_at|date:"Y-m-d H:i" }}<br>
            </div>
        </div>
    </div>
        <br>
        <div class="flex space-x-2">
            <a href="{% url 'clients:edit' client.id %}" class="inline-block border text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Edit</a>
            <a href="{% url 'clients:delete' client.id %}" class="inline-block text-center w-24 py-2 px-4 bg-red-500 rounded-xl font-semibold text-white">Delete</a>
        </div>
        <hr class="my-4">

        <h1 class="text-xl font-semibold">Comments:</h1>
        <div class="space-y-4">
            {% for comment in client.comments.all %}
            <div class="bg-gray-100 p-6 rounded-xl">
                <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at|date:"Y-m-d H:i" }}</p>
                {% if comment.created_by.first_name %}
                {% if comment.created_by.last_name %}
                {{ comment.created_by.first_name }} {{ comment.created_by.last_name }}
                {% else %}
                {{ comment.created_by }}
                {% endif %}
                {% else %}
                {{ comment.created_by }}
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'clients:add-comment' client.id %}" class="my-4">
            {% csrf_token %}

            {{ form }}
            <button class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Submit</button>
            <br class="my-6">
        </form>

        <h1 class="text-xl font-semibold">Files:</h1>


        {% for file in client.files.all %}
        <p class="mb-2"><strong>
    {% if file.created_by.first_name %}
    {% if file.created_by.last_name %}
    {{ file.created_by.first_name }} {{ file.created_by.last_name }}
    {% else %}
    {{ file.created_by }}
    {% endif %}
    {% else %}
    {{ file.created_by }}
    {% endif %}
</strong> @ {{ file.created_at|date:"Y-m-d H:i" }}</p>

        <a href="{{ file.file.url }}">{{ file.file.file }}</a>
        {% endfor %}

        <hr class="my-4">
        <form method="post" action="{% url 'clients:add-file' client.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}
            <button class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Submit</button>
            <br class="my-4">
        </form>

        <hr class="my-4">

        <a href="{% url 'clients:list' %}">Back to clients</a>
    </div>


    {% endblock %}
