{% extends 'app/base.html'  %}

{% block title %}Clients{% endblock %}

{% block content %}
<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <div class="py-6 px-6">
        <h1 class="mb-4 font-semibold text-3xl">Clients</h1>
        <div class="flex space-x-2">
            <a href="{% url 'clients:add' %}" class="inline-block py-4 px-6 text-center bg-gray-600 rounded-xl font-semibold text-white">Add client</a>
            <a href="{% url 'clients:export' %}" class="inline-block py-4 px-6 text-center bg-gray-600 rounded-xl font-semibold text-white">Export clients</a>
        </div>
        {% if clients %}
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="table-auto text-left w-full">
                            <thead class="border-b bg-black font-semibold text-white dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Name</th>
                                    <th scope="col" class="px-6 py-4">Email to</th>
                                    <th scope="col" class="px-6 py-4">Phone</th>
                                    <th scope="col" class="px-6 py-4">Created by</th>
                                    <th scope="col" class="px-6 py-4">View</th>
                                    <th scope="col" class="px-6 py-4">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in clients %}
                                <tr class="border-b dark:border-neutral-500 {% cycle 'bg-white' 'bg-gray-100' %}">
                                    <td class="py-2 px-2">{{ client.name }}</td>
                                    <td class="py-2 px-2">{{ client.email }}</td>
                                    <td class="px-2"> {{ client.phone }}</td>
                                    <td class="px-2"> {{ client.created_by }}</td>
                                    <td class="py-2 px-2"><a href="{% url 'clients:detail' client.id %}" class="inline-block border border-black text-center py-1 px-6 rounded-xl font-semibold text-black">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776" />
                                        </svg>
                                    </a></td>
                                    <td class="py-2 px-2"><a href="{% url 'clients:edit' client.id %}" class="inline-block border border-black text-center py-1 px-6 rounded-xl font-semibold text-black">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                    </svg>
                                </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <p class="mt-6 px-2">There are no clients in the database yet...</p>
        {% endif %}
    </div>
</div>
        {% endblock %}
    
