{% extends 'app/base.html'  %}
{% load crispy_forms_tags %}
{% block title %}{{ client.name }}{% endblock %}

{% block content %}
<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <h1 class="text-xl font-semibold">Name:</h1>
    <h2 class="mb-6 text-l">{{ client.name }}</h2>

    <p class="font-semibold">Description:</p>
    <p class="mb-2">{{ client.description }}</p>

    <p class="font-semibold">Phone:</p>
    <p class="mb-2">{{ client.phone }}</p>

    <p class="font-semibold">E-mail:</p>
    <p class="mb-2">{{ client.email }}</p>

    <p class="font-semibold">Created at:</p>
    <p class="mb-2">{{ client.created_at }}</p>

    <p class="font-semibold">Modifed at:</p>
    <p class="mb-6">{{ client.modified_at }}</p>

    <hr class="my-4">
    <div class="flex space-x-2">
        <a href="{% url 'clients:edit' client.id %}" class="py-2 px-4 rounded-xl bg-yellow-300 text-white">Edit</a>
        <a href="{% url 'clients:delete' client.id %}" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>
    </div>
    <hr class="my-4">

    <h2 class="mb-6 text-xl">Comments</h2>

    <div class="space-y-4">
        {% for comment in client.comments.all %}
        <div class="bg-gray-100 p-6 rounded-xl">
            <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
            {{ comment.content }}
        </div>
        {% endfor %}
    </div>

    <form method="post" action="{% url 'clients:add-comment' client.id %}" class="my-4">
        {% csrf_token %}

        {{ form }}
        <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        <br class="my-6">
    </form>

    <h2 class="mb-6 text-xl">Files</h2>

    
        {% for file in client.files.all %}
        <p class="mb-2"><strong>{{ file.created_by }}</strong> @ {{ file.created_at }}</p>
        
        <a href="{{ file.file.url }}">{{ file.file.file }}</a>
        {% endfor %}
 
    <hr class="my-4">
    <form method="post" action="{% url 'clients:add-file' client.id %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ fileform.as_p }}
        <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        <br class="my-4">
    </form>

    <hr class="my-4">

    <a href="{% url 'clients:list' %}">Back to clients</a>
</div>


{% endblock %}
