{% extends 'app/base.html'  %}

{% block title %}Team: ({{ team.name }}) {% endblock %}

{% block content %}

<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <p class="text-xl font-semibold">Team:</p>
    <p class="mb-2">{{ team.name }}</p>

    <p class="font-semibold">Team owner:</p>
    <p class="mb-2">{{ team.created_by }}</p>

    <p class="font-semibold">Team members:</p>
    {% for member in team.members.all %}
    <p class="mb-2"> {{ member.username }}</p>
    {% endfor %}
    <div class="flex space-x-2">
        <div class="py-6 px-6">
            <a href="{% url 'teams:list' %}" class="py-2 px-4 rounded-xl bg-indigo-500 text-white">Switch team</a>
            {% if team.created_by == request.user %}
            <a href="{% url 'teams:edit' team.id %}" class="py-2 px-4 rounded-xl bg-yellow-500 text-white">Edit</a>
            {% endif %}
        </div>
    </div>
    </div>
    {% endblock %}
