{% extends 'app/base.html'  %}

{% block title %}{{ ticket.title }}{% endblock %}

{% block content %}

<div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
    <div class="grid md:grid-cols-2 gap-4">
        <div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
            <!--Main info-->
            <div class="grid md:grid-cols-2 gap-4">
                <div class="p-4 bg-white">
                    <h3 class="mb-4 text-2xl"><b>Ticket: </b>{{ ticket.ticket_number }}</h3>
                    <hr class="my-4 h-0.5 bg-black">
                    <div class="grid md:grid-cols-2 gap-2">
                        <p class="font-semibold">Title: </p>{{ ticket.title }}<br>
                        <p class="font-semibold">Created at: </p>{{ ticket.created_at|date:"Y-m-d H:i" }}<br>
                        <p class="font-semibold">Modifed at: </p>{{ ticket.modified_at|date:"Y-m-d H:i" }}<br>
                        <p class="font-semibold">Closed at: </p>{{ ticket.closed_at|date:"Y-m-d H:i" }}<br>
                        <p class="font-semibold">Priority: </p>
                        {% if ticket.priority == 'low' %}
                        <span class="font-semibold text-blue-500">
                            {{ ticket.get_priority_display }}
                        </span>
                        {% elif ticket.priority == 'medium' %}
                        <span class="font-semibold text-green-500">
                            {{ ticket.get_priority_display }}
                        </span>
                        {% elif ticket.priority == 'high' %}
                        <span class="font-semibold text-red-500">
                            {{ ticket.get_priority_display }}
                        </span>
                        {% endif %}
                        <p class="font-semibold">Status: </p>
                        {% if ticket.status == 'active' %}
                        <span class="font-semibold text-green-500">
                            {{ ticket.get_status_display }}
                        </span>
                        {% elif ticket.status == 'completed' %}
                        <span class="font-semibold text-black">
                            {{ ticket.get_status_display }}
                        </span>
                        {% elif ticket.status == 'pending' %}
                        <span class="font-semibold text-black">
                            {{ ticket.get_status_display }}
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <h3 class="font-semibold text-xl">Description: </h3><br />
            <div class="rounded-lg bg-gray-100 py-1 px-1">
                <p class="bg-gray-100">{{ ticket.description }}</p><br>
            </div>
        </div>
        <!--User info-->
        <div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
            <div class="grid md:grid-cols-2 gap-4">
                <div class="p-4 bg-white">
                    <h3 class="mb-4 text-2xl"><b>Client: </b>{{ user.first_name }} {{ user.last_name }}</h3>
                    <hr class="my-4 h-0.5 bg-black">
                    <div class="grid md:grid-cols-2 gap-2">
                        <p class="font-semibold">User name: </p>{{ user.username }}<br>
                        <p class="font-semibold">E-mail: </p>{{ user.email }}<br>
                        <p class="font-semibold">Phone: </p>{{ user.phone }}<br>
                    </div>
                    <hr class="my-4" />
                    <div class="grid md:grid-cols-2 gap-2">
                        <p class="font-semibold">Company: </p>{{ user_profile.client }}<br>
                        <p class="font-semibold">Description: </p>{{ user_profile.client.description }}<br>
                        {% if request.user.is_manager %}
                        {% if user_profile.client.id %}
                        <a href="{% url 'clients:detail' user_profile.client.id %}" class="w-full inline-block py-1 px-6 text-center bg-gray-600 rounded-xl font-semibold text-white">Client page</a>
                        {% endif %}
                        {% elif request.user.is_customer %}
                        <a href="{% url 'userprofile:user_account' %}" class="inline-block text-center py-1 px-6 bg-green-500 rounded-xl font-semibold text-white">Edit account</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Ticket solution-->
    {% if ticket.is_resolved %}
    <hr class="my-4">
    <h1 class="text-xl font-semibold">Ticket solution:</h1>

    <div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
        <p>{{ ticket.solution }}</></p>

    </div>
    {% endif %}
    <hr class="my-4">
    <!--User ticket history-->

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="table-auto text-left w-full">
                        <thead class="border-b bg-black font-semibold text-white dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="px-6 py-4">Number</th>
                                <th scope="col" class="px-6 py-4">Assigned to</th>
                                <th scope="col" class="px-6 py-4">Status</th>
                                <th scope="col" class="px-6 py-4">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_ticket in user_tickets %}
                            <tr class="border-b dark:border-neutral-500 {% cycle 'bg-white' 'bg-gray-100' %}">
                                <td class="py-2 px-2">{{ user_ticket.ticket_number }}</td>
                                <td class="py-2 px-2">{{ user_ticket.assign_to }}</td>
                                <td class="px-2">
                                    {% if user_ticket.status == 'active' %}
                                    <span class="inline-block py-1 px-6 font-semibold text-black text-center">{{ user_ticket.get_status_display }}</span>
                                    {% elif user_ticket.status == 'completed' %}
                                    <span class="inline-block py-1 px-6 font-semibold text-black text-center">{{ user_ticket.get_status_display }}</span>
                                    {% elif user_ticket.status == 'pending' %}
                                    <span class="inline-block py-1 px-6 font-semibold text-black text-center">{{ user_ticket.get_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td class="py-2 px-2"><a href="{% url 'tickets:detail' ticket.id %}" class="inline-block border-2 border-black text-center py-1 px-6 rounded-xl font-semibold text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">

    {% if request.user.is_manager %}
    <div class="flex space-x-2">
        {% if ticket.assign_to == None %}
        <a href="{% url 'tickets:accept' ticket.id %}" class="inline-block text-center w-24 py-2 px-4 bg-gray-600 rounded-xl font-semibold text-white">Accept</a>
        {% else %}
        <!-- Modal toggle -->
        <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="py-1.5 px-4 rounded-xl font-semibold bg-gray-600 text-white" type="button">
            Close ticket
        </button>

        <!-- Main modal -->
        <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-white">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold">
                            Ticket solution
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <form method="post" action="{% url 'tickets:close' ticket.id %}">
                            {% csrf_token %}
                            <p class="font-semibold text-black">Please type solution to the ticket:</p>

                            {{ closeticket.as_p }}

                            <br class="my-2">
                            
                                <button class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Submit</button>
                                <button data-modal-hide="default-modal" type="button" class="ms-3 inline-block text-center w-24 py-2 px-4 bg-red-500 rounded-xl font-semibold text-white">Decline</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}

        <a href="{% url 'tickets:edit' ticket.id %}" class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Update</a>

        <a href="{% url 'tickets:delete' ticket.id %}" class="inline-block text-center w-24 py-2 px-4 bg-red-500 rounded-xl font-semibold text-white">Delete</a>

    </div>

    {% if request.user.is_customer %}
    <div class="container mx-auto shadow-lg rounded-lg py-6 px-6">
        {% endif %}
        <hr class="my-4">

        <h1 class="text-xl font-semibold">Comments:</h1>

        <div class="space-y-4">
            {% for comment in ticket.comments.all %}
            <div class="bg-gray-100 p-6 rounded-xl">
                <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at|date:"Y-m-d H:i" }}</p>
                {{ comment.content }}
            </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'tickets:add-comment' ticket.id %}" class="my-4">
            {% csrf_token %}

            {{ form }}
            <button class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Submit</button>
            <br class="my-6">
        </form>

        <h1 class="text-xl font-semibold">Files:</h1>

        {% for file in ticket.files.all %}
        <p class="mb-2"><strong>{{ file.created_by }}</strong> @ {{ file.created_at|date:"Y-m-d H:i" }}</p>

        <a href="{{ file.file.url }}">{{ file.file.file }}</a>
        {% endfor %}

        <hr class="my-4">
        <form method="post" action="{% url 'tickets:add-file' ticket.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}
            <button class="inline-block text-center w-24 py-2 px-4 bg-green-500 rounded-xl font-semibold text-white">Submit</button>
            <br class="my-4">
        </form>

        <hr class="my-4">

        <a href="{% url 'tickets:list' %}">Back to tickets</a>
        {% if request.user.is_customer %}
        </div>
            {% endif %}
        </div>
        {% endblock %}
